.button {
  background-color: #eee;
  height: 40px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.button:hover {
  background-color: black;
  border: solid 2px #eee;
  color: #eee;
}
